body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.bienvenida {
    margin-left: auto;
}

.curso {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.curso-izquierda .img-fluid {
    width: 100%;
    height: auto;
}

.curso-derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.curso-derecha h2 {
    margin-top: 0;
}

.informacion, .calificacion, .opiniones, .link {
    margin-top: 1em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Configuracion del logo */

.logo-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 20px;
  }
  
  .logo {
    width: 100px; /* Ajusta el tamaño */
    height: auto; /* Mantiene la proporción */
  }
  