/* reset de CSS inicio - eliminas las características predeterminadas sobre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* reset de CSS fin */

/* inicio header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto asegura que el contenido esté distribuido */
    padding: 10px; /* Ajusta según lo necesario */
}
  
.icono img {
    max-width: 150px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
    margin-left: 100px;
}
  
.encabezado {
    margin-right: 450px; /* Espacio entre la imagen y el texto */
}
/* fin header */

/*inicio nav*/

/* fin nav */

.contact-info {
    background-color: #475163; /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    
    box-shadow: 0 4px 10px rgba(75, 4, 4, 0.1); /* Sombra para profundidad */
    margin-top: 20px; /* Margen superior */
    transition: transform 0.2s; /* Transición suave */
}

.contact-info:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.contact-info p {
   
    font-size: 16px; /* Tamaño de fuente */
}

.contact-info a {
    color: #afbccb; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.contact-info a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}